.card {
  width: 100%;
  padding: 10px;
  height: 150px;
  gap: 10px;
  background: #D1BEB0;
  border-radius: 12px;
  margin-bottom: 40px;
  transition: 0.1s linear;
}

.card:hover {
  box-shadow:
  #DDDBF11f 0px -12px 30px, #DDDBF11f 0px 4px 6px,
  #DDDBF12b 0px 12px 13px, #DDDBF117 0px -3px 5px;
}

.card:last-child {
  margin-bottom: 0px;
}

.adds {
  gap: 10px;
}

.top > h3 {
  color: #0d0d0d;
  font-size: 20px;
  font-weight: 700;
}

.top > p {
  font-style: italic;
  color: #0d0d0d;
}

.leftside {
  padding: 10px;
  background: #3C4F76;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutSection {
  color: #0d0d0d;
  margin-top: 15px;
}

.aboutSection > button {
  width: 150px;
  height: 40px;
  margin: 10px;
  border: none;
  background-color: #5D737E;
  color: #C0FDFB;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.aboutSection > button:hover {
  color: #5D737E;
  background: #C0FDFB;
}
