.footer {
    position: relative;
    left: -50px;
    width: 110%;
  background: #ef9273;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSideFooter > .logo > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.logo > a > h2 {
  font-style: italic;
  position: relative;
  left: -10px;
}

.logo > a:hover {
  color: #fff;
}

.centerSideFooter {
  position: relative;
  left: -20px;
  width: 30%;
}

.centerSideFooter > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.centerSideFooter > ul > li > a:hover {
  color: #fff;
}

.rightSideFooter {
  position: relative;
  left: -25px;
  width: 20%;
}

.rightSideFooter > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facebook > img {
  transition: 0.2s linear;
  border-radius: 500px;
}

.facebook > img:hover {
  background: #365491;
}

.instagram > img {
  transition: 0.2s linear;
  border-radius: 500px;
}

.instagram > img:hover {
  background: #f26303;
}

.linkedin > img {
  transition: 0.2s linear;
  border-radius: 500px;
}

.linkedin > img:hover {
  background: #4979d8;
}

.telegram > img {
  transition: 0.2s linear;
  border-radius: 500px;
}

.telegram > img:hover {
  background: #3d75e4;
}

.rightSideFooter > h3 {
  text-align: center;
  margin-bottom: 20px;
}
