.homePage {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  height: 100%;
}

.educCard {
    transition: 0.1s linear;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 24px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: #ef9273;
  border-radius: 15px;
}

.meaningOfHead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoOfEducation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
}

.homeCenter {
    margin-top: 30px;
}

.logoOfEducation > h2 {
  text-align: right;
  font-size: 26px;
  font-weight: 900;
  color: #000;
}

.educCard {
  margin-bottom: 55px;
}

.educCard:hover {
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Ba {
  width: 150px;
  border: 0 solid #000;
  border-radius: 50%;
}

.aboutSectOfHome {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutSection {
  color: #000;
  font-weight: 700;
  text-align: left;
  width: 90%;
  font-size: 16px;
}

.selectYourC > button {
  width: 150px;
  height: 40px;
  margin: 10px;
  border: none;
  background-color: #efbf73;
  color: #000;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 25px;
}

.aboutSection > a {
  color: rgb(89, 0, 255);
}

.aboutSection > a:hover {
  color: #000;
}


.learnMore > h3 > a {
  text-decoration: underline;
  font-size: 22px;
  color: #000;
}

.learnMore > h3 > a:hover {
  color: rgb(0, 21, 255);
}